.script-interface-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.script-header {
    font-size: 1.5rem;
    padding: 10px;
}

script-interface-code-panel {
    width: 100%;
    height: 100%;
}

.script-interface-code-view {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;

    border: 10px inset rgb(255, 223, 163); 

    background-color: wheat;
}

.script-interface-details-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.script-interface-details-tabs button {
    flex: 1;
    border-radius: 0;
    border: 1px solid wheat;
    color: black;
    background-color: tan;
}

.script-interface-details-tabs button:hover {
    flex: 1;
    border-radius: 0;
    border: 1px solid wheat;
    color: tan;
    background-color: brown;
}

.script-interface-details-content {
    margin-block: 0 50px;
}